body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  background-color: #888;
  transition: width 0.3s;
  overflow-x: hidden;
}

.side-menu:hover {
  width: 250px;
}

.side-menu .menu_type--text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: left;
  color: white;
  font-size: 16px;
  white-space: nowrap;
  padding-left: 10px;
}

.menu_type--here {
  display: none;
  margin-top: 50px;
  padding-left: 10px;
}

.side-menu:hover .menu_type--here {
  display: block;
}

.side-menu:hover .menu_type--text {
  display: none;
}

.menu_type--here a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
  transition: transform .3s ease-in-out;
}

.menu_type--here a:hover {
  transition: .3s;
  color: orange;
  background-color: #666;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.menu_type--here a::before {
  content: "♦️";
  color: gold;
  margin-right: 8px;
}

.menu_type--text {
  padding-top: 50px;
}
